@page "{id}"
@model Venier.Library.Web.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<div class="h3 font-weight-bold text-primary text-uppercase mb-1">Eliminato!</div>
<div class="h6 mb-0 text-gray-800">L'operazione è avvenuta con successo!</div>
<br />
<div class="fakebtn" style="float:right;">
    <a asp-page="/Index">Home page</a>
</div>

