@page

@model Venier.Library.Web.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Book.Title</h1>
<div class="card mb-3">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">The selected book has been successfully added to your library!</p>
        <p class="card-body-text">Please remember to fill in its book card.</p>
    </div>
</div>

