@page

@model Venier.Library.Web.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<div class="card mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Model.Book.Title</h6>
    </div>
    <div class="card-body">
        <p class="card-text">The selected book has been successfully added to your library!</p>
        <p class="card-body-text">Please remember to fill in its book card.</p>
    </div>
</div>

