@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

    <div class="card mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@ViewData["Title"]</h6>
    </div>
    <div class="card-body">
        Use this page to detail your site's privacy policy.
    </div>
</div>
