@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="card mb-4">
    <div class="card-header">
        @ViewData["Title"]
    </div>
    <div class="card-body">
        Use this page to detail your site's privacy policy.
    </div>
</div>
