@page
@model Venier.Library.Web.SearchModel
@{
    ViewData["Title"] = "Search";
    string ShortTitle = "";
}
<form method="post">
    <div class="form-group">
        <div class="input-group md-form form-sm form-1 pl-0">
            <input class="form-control my-0 py-1" placeholder="Title" aria-label="Search" name="testo">
            <button href="#!" class="btn btn-dark" type="submit">Search</button>
        </div>
    </div>
</form>

<div>
    @foreach (var b in Model.Books)
    {
        var isbn = b.isbn?.FirstOrDefault();

        ShortTitle = b.title.Length > 50 ? b.title.Substring(0, 50): b.title;
        if(ShortTitle.Length==50)
        { ShortTitle = ShortTitle + ".."; }

        <div class="col-xl-3 col-md-6 mb-4" style="float:left; height:200px;">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">ISBN: @isbn</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">@ShortTitle</div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary btt">
                                <a style="color:white;" asp-page="/Addbook" asp-route-isbn="@isbn">Add book</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}